/*----------gallery----------*/
.gallery1 .img {
    display: inline-block;
    width: fit-content;
    height: fit-content;
  }
  
  .gallery1 img {
    padding: 10px;
    width: 100%;
    height: 500px; /* Ajustar la altura automáticamente */
  }
  /*----------gallery----------*/
  
  @media screen and (max-width: 768px) {
    .gallery1 .img {

        width: 300px; /* Ajustar automáticamente el ancho */
        height: 300px; /* Ajustar automáticamente la altura */
        margin: 0; /* Eliminar los márgenes */
        padding: 0; /* Eliminar los rellenos */
      }
      
    
    .gallery1 img {
      width: 100%;
      height: 100%;
      object-fit: contain;

    }
  }
  