main .container{
    /* margin-top: 50px;
    max-width: 90%;
    margin: auto;
    display: flex;
    align-items: center; */
    display: flex;
    justify-content: space-between;
    padding: 60px;
    /* height: 100vh; */
  }

.mainContent {
    width: 75%;
    /* background: skyblue; */
}

.sideContent{
    width: 23%;
    /* background: purple; */
}

.details {
    padding-right: 50px;
}

.details .title {
    text-align: start;
    padding-top: 20px;
    display: flex;
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
}

.details .author {
    display: flex;
    align-items: center;
    font-weight: 500;
    margin: 20px 0;
}

.details .author p{
    text-transform: capitalize;
    margin-right: 10px;
}

.details .author img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 10px;
}

.details img{
    /* position: relative; */
    display: flex;
    margin: 30px 0;
    height: 500px;
    width: 500px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 15px 10px -10px;
}

.desctop p {
    text-align: justify;
    display:flex;
    margin: 20px 0;
    line-height: 30px;
}

.descbot p{
    text-align: justify;
}

.descbot h1{
    text-align: start;
    font-weight: 600;
    font-size: 30px;
    margin-top: 30px;
}

.quote {
    display: flex;
    padding-left: 50px;
    border-left:5px solid red;
}

.quote i {
    font-size: 50px;
    color: red;
    margin-bottom: 20px;
}

.quote p {
    text-align: justify;
    margin-left: 20px;
    font-size: 18px;
}


@media screen and (max-width: 768px) {
    main .container{
        /* margin: 4rem 6rem; */

        padding: 20px;
        flex-direction: column;
    } 

    .details img{
    /* position: relative; */
    margin-left: 25px;
    height: auto;
    width: 100%;
}

.desctop p {
    width: 100%;
    text-align: justify;
    display:flex;
    margin-left: 25px;
    /* margin: 20px 0; */
    line-height: 30px;
    /* background: red; */
}

.descbot p {
    width: 100%;
    text-align: justify;
    display:flex;
    margin-left: 25px;
    /* margin: 20px 0; */
    line-height: 30px;
    
}

.details .author p{
    text-transform: capitalize;
    text-align: start;
    /* background: red; */
    margin-right: 10px;
    font-size: 15px;
}


    .mainContent {
        width: 100%;
        /* background: rgb(132, 0, 255); */
    }

    .sideContent {
        width: 100%;
    }

    .details .title {
        margin-left: 40px;
        text-align: start;
        font-size: 25px;
        text-align: center;
    }
    
    .details .author {
        display: flex;
        align-items: center;
        font-weight: 500;
        margin: 20px 0;
    }

    .author span{
        margin-left: 20px;
    }

    .quote p {
        text-align: justify;
        margin-left: 10px;
        font-size: 15px;
    }

    .quote i {
        font-size: 20px;
        color: red;
        margin-bottom: 20px;
    }

    .quote {
        display: flex;
        padding-left: 20px;
        border-left:5px solid red;
    }

    .descbot h1{
        font-size: 23px;
        margin-left: 40px;
        text-align: center;
    }

    .numbers {
        font-size: 14px;
    }
    
    
}

/* .caca {
    height: 200px;
    width: 400px;
} */




/* .author img{
    height: 20px;
    width: 20px;
} */