/* @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&family=Permanent+Marker&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap'); */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Cinzel', serif;
  font-family: 'Permanent Marker', cursive; */

  font-family: "Mochiy Pop One", sans-serif;
  font-weight: 400;
  font-style: normal;

}

.App{
  font-family: sans-serif;
  text-align: center;
}
.material-symbols-outlined {
  /* Estilos para el ícono */
  font-family: 'Material Symbols Outlined', sans-serif;
  font-size: 24px; /* Ajusta el tamaño según tus necesidades */
  color: #000; /* Ajusta el color según tus necesidades */
}

.whatsapp-button {
  position: fixed;
  bottom: 20px; /* Ajusta la distancia desde abajo según tus preferencias */
  right: 20px; /* Ajusta la distancia desde la derecha según tus preferencias */
  z-index: 6;
}

.flexSB {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 15px 10px -10px;
}

.images {
  position: relative;
}
.title {
  font-weight: 500;
  font-size: 17px;
  margin-bottom: 15px;
}
.comment i,
.date i {
  width: 30px;
  color: #fb4c35;
  font-size: 13px;
}

.comment label,
.date label {
  font-size: 13px;
  color: #868585;
}

.desc {
  font-size: 13px;
  margin: 10px 0;
}

.row {
  width: 50%;
}

.flex {
  display: flex;
}
.paddingTB {
  padding: 40px 0;
}
.paddingSmall {
  padding: 20px 0;
}

.category {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  padding: 5px 10px;
  letter-spacing: 2px;
  background-color: purple;
}
.category1 {
  position: absolute;
  top: 0;
  left: 0;
  border-left: 5px solid #12a007;
  width: auto;
  display: block;
  background: linear-gradient(to right, #12a007 50%, black 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
  cursor: pointer;
}
.category1 span {
  color: #fff;
  text-transform: capitalize;
  letter-spacing: 0;
}
.category1:hover {
  background-position: left bottom;
}
.category1 span:hover {
  color: #fff;
}