/* @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&family=Permanent+Marker&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap'); */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Cinzel', serif;
  font-family: 'Permanent Marker', cursive; */

  font-family: "Mochiy Pop One", sans-serif;
  font-weight: 400;
  font-style: normal;

}

.App{
  font-family: sans-serif;
  text-align: center;
}
.material-symbols-outlined {
  /* Estilos para el ícono */
  font-family: 'Material Symbols Outlined', sans-serif;
  font-size: 24px; /* Ajusta el tamaño según tus necesidades */
  color: #000; /* Ajusta el color según tus necesidades */
}
